Flask==0.12.2
Flask-SQLAlchemy==2.3.2
Jinja2==2.10
MarkupSafe==1.0
PyMySQL==0.8.0
SQLAlchemy==1.2.7
Werkzeug==0.14.1
click==6.7
flask-marshmallow==0.8.0
itsdangerous==0.24
marshmallow==3.0.0b8
marshmallow-sqlalchemy==0.13.2